# Ignore Maven target directories.
target/

# Ignore Eclipse project files.
.project
.settings/
.classpath
.checkstyle

# Ignore IntelliJ project files.
.idea/
*.iml

# Ignore Visual Studio Code project files.
.vscode/

# Ingnore Mac related folders
.DS_Store

# Ignore dev container settings
.devcontainer
